.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 50px;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

.App-center {
  position: fixed;
  top: 50%;
  left: 50%;
}

.App-header .title-container {
  width: 80%;
  display: table;
}

.App-header .dashboard-title {
  display: table-cell;
  height: 100%;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
}

.App-header .button-container {
  height: 100%;
  width: 10%;
  text-align: center;
}

.App-header .button-style {
  width: 80%;
  padding: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ReactTable {
  height: 800px;
}

.ReactTable .rt-thead {
  background-color: #003265;
  font-weight: bold;
  color: white;
}

.ReactTable .rt-tbody {
  overflow-y: scroll;
}

.visible.transition {
  margin-top: auto !important;
  display: inline-block !important;
  position: relative;
  top: 20%;
}

.actions {
  float: left;
  text-align: left;
}
